<h1>Log in</h1>

<form action=" <%= session_url %>" method="post">
  <%= form_auth %>
  <%= render "layouts/user_session_form" %>

  <input type="submit" value="Log In">
  <input type="reset" value="Reset">
</form>
