<% if(currentUser.isSignedIn()){%>
  Logged in as <a href="#users/<%= currentUser.id %>"><%= currentUser.username() %></a> - <a href="javascript: void(0);" id="logout-link">Log out</a>
<% } else { %>
  <a href="#login">Log In</a> | <a href="#signup">Sign Up</a>

  <div id="login" class="modal">
    <div>
      <a href="#" class="close">cancel</a>
      <h2>Log in</h2>
      <form>
        <label>Email</label>
        <input type="text" name="user[email]">
        <label>Password</label>
        <input type="password" name="user[password]">
        <button>Submit</button>
      </form>
    </div>
  </div>

  <div id="signup" class="modal">
    <div>
      <a href="#" class="close">cancel</a>
      <h2>Sign up</h2>
      <form>
        <label>Username</label>
        <input type="text" name="user[username]">
        <label>Email</label>
        <input type="text" name="user[email]">
        <label>Location</label>
        <input type="text" name="user[location]">
        <label>Password</label>
        <input type="password" name="user[password]">
        <button>Submit</button>
      </form>
    </div>
  </div>
<% }; %>
