<form data-parentcomment = "<%= parentCommentId %>">
  <textarea name="comment[content]"></textarea>
  <input type="submit" value="Submit">
  <% if(parentCommentId){ %>
    <input type="reset" value="Cancel" class="cancel-reply">
  <% }; %>
</form>
