<li class="clearfix">
  <%= JST["comments/_comment"]({comment: comment, displayPost: displayPost, previousVote: previousVote}) %>
  <% if(post._commentHash && post.commentHash()[comment.id]){ %>
    <div class="commentLoop-<%= comment.id %>">
    </div>
  <% }; %>
</li>
