<ul class="votable clearfix post">

</ul>

<p><a href="<%= post.escape("url") %>" target="_blank"><%= post.escape("url") %></a></p>
<p><%= post.escape("content") %></p>

<% if(post.comments().length > 0){ %>
  <hr>
  <a name="comments"></a>
  <h3>Comments</h3>
  <ul class="votable comments" id="comment-area">

  </ul>
<% }; %>
