<h1>Create a Sub</h1>
<form>
  <label>Title</label>
  <input type="text" value="" name="sub[title]">
  <label>Description</label>
  <input type="text" value="" name="sub[description]">
  <button>Create Sub</button>
</form>
