<ul>
  <h2>All Subs</h2>
  <% subs.each( function (sub){ %>
    <li>
      <a href="#subs/<%= sub.id %>"><%= sub.escape("title") %></a>
      <% if(!sidebar){ %>
        : <%= sub.escape("description") %>
      <% }; %>
      <% if(Discoverit.currentUser.id === sub.mod().id){ %>
         (<a href="#subs/<%= sub.id %>/edit">edit</a>)
      <% }; %>
    </li>
  <% }); %>
</ul>

<h4><a href="#subs/new">Create new sub</a></h4>
