<ul>
  <h2>All Subs</h2>
  <% subs.each( function (sub){ %>
    <li>
      <a href="#subs/<%= sub.id %>"><%= sub.escape("title") %></a>
      <% if(!sidebar){ %>
        : <%= sub.escape("description") %>
      <% }; %>
    </li>
  <% }); %>
</ul>
