<h1><%= sub.get("title") %></h1>
<ul class="votable clearfix posts">

</ul>
<div class="right_bar">

  <p><%= sub.get("description") %></p>

  <h2>Mod</h2>
  <ul>
    <li><a href="#users/<%= sub.mod().id %>"><%= sub.mod().escape("username") %></a></li>
  </ul>
</div>
