<label for="title">Title</label>
<input type="text" name="sub[title]" id="title" value="<%= @sub.title %>">

<label for="description">Description</label>
<input type="text" name="sub[description]" id="description"value="<%= @sub.description %>">
<hr>
<input type="submit" value="Submit">
<input type="reset" value="Reset">
