<h1>Front Page</h1>

<ul class="votable clearfix">
<% @posts.order(last_activity_stamp: :desc).each do |post| %>
  <li>
    <%= render "post", post: post, fp: true %>
  </li>
<% end %>
</ul>

<a href="<%= new_sub_url %>">Create a sub</a>
