<ul>
<% @comment.child_comments.each do |comment| %>
<li>
  <h5><%= comment.author.email %> @ <%= comment.created_at %>:</h5>
  <p><%= comment.content %></p>
  <p align="right"><a href="<%= comment_url(comment) %>">reply</a></p>
</li>
<% end %>
<% end %>
</ul>
