<h1>New post</h1>

<form action="<%= posts_url %>" method="post">

  <%= render "form" %>
  <hr>
  <input type="submit" value="Create post">
  <input type="reset" value="Reset">

</form>

<p><a href="<%= subs_url %>">Return to subs</a></p>
