/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$bg-color: #374552;               //2nd darkest
$highlight-color: #F9E1C5;        //2nd lightest
$body-color: #D1D2CC;             //lightest
$head-color: #8E8E90;             //darkest

$cont-color: #2E2926;
$link-color: #404A4C;
$field-bg-color: #e9eae4;
$upvote-color: orange;
$downvote-color: blue;

*{
  margin: 0;
  padding: 0;
  outline: 0;
}

body{
  background: $bg-color;
  padding: 10px;
  color: $cont-color;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#container{
  margin: 0 auto;
  width: 80%;
}

/* header stuff */
#header{
  background: $bg-color;
  border-bottom: 5px solid $highlight-color;
  margin-bottom: 5px;
  padding: 5px;
  color: $head-color;
  position: relative;
}

#header h1{
  float: left;
  margin-right: -20%;
  margin-top: 20px;
}
#header h1 a{
  font: 48px georgia, serif;
  letter-spacing: .1em;
  color: $highlight-color;
  margin-left: 20px;
}
#header h1 a em{
  color: $body-color;
}
#header h1 a:hover em{
  color: $head-color;
}
#header h1 a:hover:after{
  content: "click for the front page!";
  font-size: 12px;
  letter-spacing: normal;
}

#header p{
  float: right;
  font-size: 12px;
}
#header a{
  color: $head-color;
}
#header a:hover{
  color: $highlight-color;
}

p#switch-colors{
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* modal */
.hidden{
  display: none;
}

.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity:1;
  pointer-events: auto;
}

.modal > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 10px;
    text-align: left;
    background: #fff;
}

.close {
    color: #606061;
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
}

/* cont stuff */
#cont{
  background: $body-color;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 5px;
  position: relative;
  min-height: 200px;
}

/* sidebar stuff */

.right_bar{
  float: right;
  width: 25%;
  padding: 10px;
  background: #fff;
}

/* post items stuff */

.votable li{
  list-style: none;
  margin: 10px 0px 10px 20px;
  padding: 1px 1px 1px 5px;
  background: #DADBD5;
}

.vote_container{
  width: 25px;
  margin-left: -40px;
  display: block;
  float: left;
  margin-bottom: -15px;
}

.vote_container form, .vote_container p{
  float: right;
  margin: 0;
  clear: right;
  padding: 1px 5px;
}

.vote_container form:first-child{
  margin: 5px 0 -5px 0;
}

.vote_container form:last-child{
  margin: -5px 0 0 0;
}

.vote_container p{
  font-size: 12px;
  color: #8B8C87;
}

.vote_container button{
  float: left;
  background: transparent;
  border: 0;
  font-size: 10px;
}
.vote_container button:hover{
  background: #fff;
}

.votable .reply_link,
.votable p.subtext{
  display: block;
  font-size: 12px;
}

img.post-thumb{
  float: left;
  width: 50px;
  height: auto;
  margin: 0px 10px 5px 0;
}

.votable .post-title{
  margin-bottom: 10px;
  font-size: 12px;
}

.post-title a{
  font-style: normal;
  font-size: 16px;
}

.votable p{
  margin: 5px 0;
}

#post-body{
  margin-left: 40px;
  line-height: 150%;
  font-size: .9em;
}

ul.comments{
  margin-left: 10px;
}

ul.comments li > ul.comments{
  margin-right: 10px;
}

ul.comments li{
  border-left: 2px dotted $highlight-color;
  padding-left: 10px;
}

[class*="commentLoop-"]{
  background: $body-color;
}

.page-nav .next-page{
  float: left;
}
.page-nav .prev-page{
  float: right;
}

/* profile stuff */

.prof-pic{
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: auto;
  border: 5px solid #fff;
  transform: rotate(5deg);
}

/* footer stuff */
#footer{
  border-top: 5px solid $highlight-color;
}
#footer p{
  margin: 5px 0 0 0;
  padding: 10px;
  font-size: 10px;
  background: $highlight-color;
  color: $head-color;
}

/* general use selectors */

.no-em li a:first-child{
  font-style: normal;
}

ul.strong li a:first-child{
  font-weight: bold;
}

.clearfix:after{
  clear: both;
  display: block;
  content: "";
}
.clearfix-left:after{
  clear: left;
  display: block;
  content: "";
}

.bolded{
  font-weight: bold;
}

.orange{
  color: $upvote-color;
}

.blue{
  color: $downvote-color;
}

/* general tags */
a{
  text-decoration: none;
  color: $link-color;
  font-style: italic;
}
a:hover{
  color: #fff;
}

h2, h3, h4{
  margin: 5px 0 10px 0;
}

h5{
  margin: 5px 0;
}

ul, p, form{
  margin: 10px 0;
}

ul{
  margin-left: 15px;
}

li{
  margin: 5px;
  list-style: none;
}

hr{
  clear: both;
  margin: 5px 0;
}

label{
  float: left;
  display: block;
  text-align: right;
  width: 15%;
  margin-right: 10px;
  clear: left;
}

fieldset{
  clear: left;
  margin: 10px 0;
  padding: 10px 0;
  border: 1px solid #eee;
}

legend{
  font-weight: bold;
  font-size: 14px;
  text-transform: lowercase;
  font-variant: small-caps;
}

input, textarea{
  background: $field-bg-color;
  border: 0;
  padding: 2px;
  border-bottom: 2px solid #fff;
  margin: 0 0 10px 0;
  display: block;
  width: 75%;
  min-width: 200px;
}

textarea{
  height: 100px;
}

.subs-checkboxes{
  width: calc(75% - 20px);
  background: $field-bg-color;
  padding: 10px;
  margin-left: calc(15% + 10px);
}

.subs-checkboxes label{
  clear: none;
  display: inline-block;
  float: none;
  width: auto;
}

.submit-area{
  margin: 10px 0 0 16%;
}

input[type="checkbox"], input[type="submit"], input[type="reset"]{
  display: inline;
  width: auto;
  min-width: auto;
}

input:disabled{
  opacity: 0.5;
}
