/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin: 0;
  padding: 0;
}

body{
  background: #374552;
  padding: 10px;
  color: #2E2926;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#container{
  margin: 0 auto;
  width: 80%;
}

/* header stuff */
#header{
  background: #374552;
  border-bottom: 5px solid #F9E1C5;
  margin-bottom: 5px;
  padding: 5px;
  color: #8E8E90;
}

#header h1{
  float: left;
  margin-right: -20%;
  margin-top: 20px;
}
#header h1 a{
  font: 48px georgia, serif;
  letter-spacing: .1em;
  color: #F9E1C5;
  margin-left: 20px;
}
#header h1 a em{
  color: #D1D2CC;
}
#header h1 a:hover em{
  color: #8E8E90;
}
#header h1 a:hover:after{
  content: "click for the front page!";
  font-size: 12px;
  letter-spacing: normal;
}

#header p{
  float: right;
  font-size: 12px;
}
#header a{
  color: #8E8E90;
}
#header a:hover{
  color: #F9E1C5;
}

/* modal */
.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity:0;
  pointer-events: none;
}
.modal:target {
    opacity:1;
    pointer-events: auto;
}

.modal > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 10px;
    text-align: left;
    background: #fff;
}

.close {
    color: #606061;
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
}

/* cont stuff */
#cont{
  background: #D1D2CC;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 5px;
  position: relative;
}

/* sidebar stuff */

.right_bar{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25%;
  padding: 10px;
  background: white;
}

/* post items stuff */

.votable .reply_link,
ul.votable li p:last-child{
  clear: left;
  display: block;
  font-size: 12px;
}

.votable p{
  margin: 5px 0;
}

.votable li{
  list-style: none;
  margin: 10px 0px 10px 20px;
  padding: 1px 1px 1px 5px;
  background: #DADBD5;
}

.vote_container{
  width: 25px;
  margin-left: -40px;
  display: block;
  float: left;
  margin-bottom: -15px;
}

.vote_container form, .vote_container p{
  float: right;
  margin: 0;
  clear: right;
  padding: 1px 5px;
}

.vote_container p{
  font-size: 12px;
  color: #8B8C87;
}

.vote_container button{
  float: left;
  background: transparent;
  border: 0;
  font-size: 10px;
}
.vote_container button:hover{
  background: white;
}

.vote_container + p{
  float: left;
  margin-bottom: -20px;
}

.vote_container + p a:first-child{
  font-style: normal;
}

ul.comments{
  margin-left: 10px;
}

ul.comments li > ul.comments{
  margin-right: 10px;
}

ul.comments li{
  border-left: 2px dotted #F9E1C5;
  padding-left: 10px;
}

[class*="commentLoop-"]{
  background: #D1D2CC;
}

/* profile stuff */

.prof-pic{
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: auto;
  border: 5px solid white;
  transform: rotate(5deg);
}

/* footer stuff */
#footer{
  border-top: 5px solid #F9E1C5;
}
#footer p{
  margin: 5px 0 0 0;
  padding: 10px;
  font-size: 10px;
  background: #F9E1C5;
  color: #8E8E90;
}

/* general use selectors */

.no-em li a:first-child{
  font-style: normal;
}

ul.strong li a:first-child{
  font-weight: bold;
}

.clearfix:after{
  clear: both;
  display: block;
  content: "";
}

/* general tags */
a{
  text-decoration: none;
  color: #404A4C;
  font-style: italic;
}
a:hover{
  color: white;
}

h2, h3, h4{
  margin: 5px 0 10px 0;
}

h5{
  margin: 5px 0;
}

ul, p, form{
  margin: 10px 0;
}

ul{
  margin-left: 15px;
}

li{
  margin: 5px;
  list-style: none;
}

hr{
  clear: both;
  margin: 5px 0;
}

label{
  float: left;
  display: block;
  text-align: right;
  width: 80px;
  margin-right: 10px;
}

input, textarea{
  background: #e9eae4;
  border: 0;
  padding: 2px;
  border-bottom: 2px solid white;
  margin: 0 0 10px 0;
  display: block;
  width: 200px;
}

input[type="checkbox"] + label{
  float: none;
  display: inline;
}

input[type="checkbox"], input[type="submit"], input[type="reset"]{
  display: inline;
  width: auto;
}
