/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin: 0;
  padding: 0;
}

body{
  background: #374552;
  padding: 10px;
  color: #2E2926;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#container{
  margin: 0 auto;
  width: 80%;
}

/* header stuff */
#header{
  background: #374552;
  border-bottom: 5px solid #F9E1C5;
  margin-bottom: 5px;
  padding: 5px;
  color: #8E8E90;
}

#header h1{
  float: left;
  margin-right: -20%;
  margin-top: 20px;
}
#header h1 a{
  font: 48px georgia, serif;
  letter-spacing: .1em;
  color: #F9E1C5;
  margin-left: 20px;
}
#header h1 a em{
  color: #D1D2CC;
}
#header h1 a:hover em{
  color: #8E8E90;
}
#header p{
  float: right;
  font-size: 12px;
}
#header a{
  color: #8E8E90;
}
#header a:hover{
  color: #F9E1C5;
}

/* content stuff */
#content{
  background: #D1D2CC;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 5px;
}

.votable .reply_link{
  float: right;
}

.votable p{
  margin-bottom: 0;
}

.votable li{
  list-style: none;
  margin-left: 20px;
}

.vote_container{
  width: 25px;
  margin-left: -40px;
  display: block;
  float: left;
}

.vote_container form{
    float: right;
    margin: 0;
}

.vote_container button{
  float: left;
  background: transparent;
  border: 0;
  padding: 5px;
  font-size: 10px;
}
.vote_container button:hover{
  background: white;
}

.vote_container + p{
  float: left;
}

.comments ul{
  margin-left: 20px;
}

.comments li{
  border-left: 2px dashed #F9E1C5;
  padding-left: 10px;
}

.clearfix:after{
  clear: both;
  display: block;
  content: "";
}

.clear{
  clear: both;
}

/* footer stuff */
#footer{
  border-top: 5px solid #F9E1C5;
}
#footer p{
  margin: 5px 0 0 0;
  padding: 10px;
  font-size: 10px;
  background: #F9E1C5;
  color: #8E8E90;
}

/* general tags */
a{
  text-decoration: none;
  color: #404A4C;
  font-style: italic;
}
a:hover{
  color: white;
}

h2, h3, h4, h5{
  margin: 5px 0 10px 0;
}

ul, p, form{
  margin: 10px 0;
}

ul{
  margin-left: 15px;
}

li{
  margin: 5px;
  list-style: inside;
}

hr{
  clear: both;
}

label{
  float: left;
  display: block;
  text-align: right;
  width: 80px;
  margin-right: 10px;
}

input, textarea{
  background: #e9eae4;
  border: 0;
  padding: 2px;
  border-bottom: 2px solid white;
  margin: 0 0 5px 0;
}

textarea{
  display: block;
}
