<h1>Front Page</h1>
<ul class="votable clearfix">
  <% posts.each( function (post){ %>
    <li>
      <%= JST['posts/_post']({post: post, fp: true, current_user: user}) %>
    </li>
  <% }); %>
</ul>
<div class="right_bar">

</div>
