<div class="right_bar">
  <p><strong><a href="#posts/new/fp">Submit a Post!</a></strong></p>
  <hr>

</div>
<ul class="votable clearfix posts">

</ul>

<div class="page-nav clearfix">
<% if(hasNextPage){ %>
<a class="next-page" href="javascript:void(0);">Older Posts</a>
<% }; %>
<% if(hasPrevPage){ %>
<a class="prev-page" href="javascript:void(0);">Newer Posts</a>
<% }; %>
</div>
